/*  mobile menu */
.menu-mobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.522);
    opacity: 0;
    transition: 0.6s ease-in-out;
  }
  .menu-block {
    position: absolute;
    right: -400px;
    top: 0;
    width: 60vw;
    background: rgb(18, 18, 18);
    height: 100vh;
    transition: 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 230px 0;
    margin: 0;
  }
  .menu-block ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 60px;
    height: 100%;
    list-style: none;
    font-size: 24px;
    border: none;
  }
  li a{text-decoration: none;color: white;}
  
  .menu-mobile.open-menu {
    opacity: 1;
    z-index: 1;
  }
  .open-menu .menu-block {
    transform: translateX(-400px);
  }
  